@import "tailwindcss";

:root {
  --cream: #f3f1e6;
  --sky: #c5dcf2;
  --lilac: #b8b5cb;
  --periwinkle: #8995c9;
  --plum: #776987;
}

@theme inline {
  --font-syncopate: var(--font-syncopate);
  --font-playpen: var(--font-playpen);

  --color-cream: var(--cream);
  --color-sky: var(--sky);
  --color-lilac: var(--lilac);
  --color-periwinkle: var(--periwinkle);
  --color-plum: var(--plum);
}

@media (prefers-color-scheme: dark) {
  :root {
    --cream: #f3f1e6;
    --sky: #c5dcf2;
    --lilac: #b8b5cb;
    --periwinkle: #8995c9;
    --plum: #776987;
  }
}

@media (max-aspect-ratio: 192/125) {
  .bg-smart {
    background-size: auto 100%;
    padding-bottom: 210px;
  }
}

@media (min-aspect-ratio: 192/125) {
  .bg-smart {
    background-size: 100% auto;
    padding-bottom: 15%;
  }
}

.tilt-up {
  transform: rotateX(15deg);
}

.pin {
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 100px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
